.DetailsContent {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}

.DetailsContent__img {
  width: min(100%, 400px);
}

.DetailsContent__img img {
  width: 100%;
}

.DetailsContent__text > h1 {
  margin-block-end: 50px;
  font-size: 40px;
  letter-spacing: 0.03em;
}

.DetailsContent__stats {
  --stats: 18px;

  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;

  font-size: var(--stats);
}

.DetailsContent__stats > div > *:not(:first-child) {
  margin-block-start: 8px;
}

.DetailsContent__stats > div > p {
  font-weight: var(--fw-500);
  letter-spacing: 0.04em;
}

.DetailsContent__stats > div > p > span {
  font-weight: var(--fw-400);
  letter-spacing: -0.02em;
}
